@media screen and (max-width: 414px) {
  .theatretext1,
  .theatretext2,
  .theatretext3 {
    font-size: 4vw;
  }
  .theatretext4 {
    font-size: 6vw;
    margin-top: 15vw;
    margin-left: 38vw;
  }
  .whcolumn3 {
    display: none;
  }
  .whcolumn4 {
    display: none;
  }
  /* .whcolumn1,
  .whcolumn2,
  .whcolumn5,
  .whcolumn6 {
    width: 13vw;
  } */

  /* как сделать так чтоб по ховеру ширина картинки тоже адаптировалась?? */

  .section3 {
    flex-direction: column;
  }
  .backstage {
    width: 100vw;
    height: 94vw;
  }
  .container3 {
    width: 100vw;
    overflow: hidden;
  }
  .starsback {
    width: 50vw;
    height: 70vw;
  }
  .star1,
  .star2 {
    height: 30vw;
    width: 30vw;
    margin-left: 10vw;
  }
  .star2 {
    margin-top: 37vw;
  }
  .wordsback {
    width: 50vw;
    height: 70vw;
  }

  .choose {
    margin-left: 5vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .your {
    margin-left: 27vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .end {
    margin-left: 17vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .yourself {
    margin-left: 30vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .choose1 {
    margin-left: 3vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .your1 {
    margin-left: 20vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .end1 {
    margin-left: 7vw;
    font-size: 4vw;
    margin-top: -4vw;
  }
  .yourself1 {
    margin-left: 38vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .choose2 {
    margin-left: 12vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .your2 {
    margin-left: 30vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .end2 {
    margin-left: 11vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .yourself2 {
    margin-left: 27vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .choose3 {
    margin-left: 2vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .your3 {
    margin-left: 38vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .end3 {
    margin-left: 11vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .yourself3 {
    margin-left: 34vw;
    margin-top: -4vw;
    font-size: 4vw;
  }
  .ahide > p,
  .ehide > p,
  .shide > p,
  .lhide > p,
  .ihide > p {
    font-size: 24vw;
  }
  .choice {
    font-size: 4vw;
  }
  .changes {
    font-size: 4vw;
  }
  .alternative {
    font-size: 4vw;
  }
  .stable {
    font-size: 4vw;
  }
  .past {
    font-size: 4vw;
  }
  .future {
    font-size: 4vw;
  }
  .section9 {
    flex-direction: row;
  }
}
