/* 1 экран смена начертаний "А ЕСЛИ"  */
@keyframes boldchange {
  0% {
    font-style: normal;
    color: #1e4833;
  }
  25% {
    font-weight: bold;
    color: #740606;
  }
  50% {
    font-style: italic;
    color: #1e4833;
  }
  75% {
    font-style: normal;
    color: #740606;
  }
  100% {
    font-style: bold;
    color: white;
  }
}
/* 1 экран бегущие строки */
@keyframes howtochangepast {
  100% {
    transform: translate(-50%);
  }
}
@keyframes whatifidid {
  100% {
    transform: translate(-50%);
  }
}

@keyframes iwanttochange {
  100% {
    transform: translate(-50%);
  }
}

/* 1 экран смена цвета колонн по наведению */
.whcolumn1:hover {
  background-image: url(../images/whcolumn1.svg);
  height: 30vw;
  width: 10vw;
}

.whcolumn2:hover {
  background-image: url(../images/greencolumn1.svg);
  height: 30vw;
  width: 10vw;
}

.whcolumn3:hover {
  background-image: url(../images/redcolumn2.svg);
  height: 30vw;
  width: 10vw;
}

.whcolumn4:hover {
  background-image: url(../images/greencolumn2.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn5:hover {
  background-image: url(../images/redcolumn3.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn6:hover {
  background-image: url(../images/whcolumn6.svg);
  height: 30vw;
  width: 10vw;
}

/* 2 экран покадровая анимация кулис */
@keyframes backstagemove {
  0% {
    background-image: url(../images/backstage1.png);
  }
  4% {
    background-image: url(../images/backstage2.png);
  }
  8% {
    background-image: url(../images/backstage3.png);
  }
  12% {
    background-image: url(../images/backstage4.png);
  }
  16% {
    background-image: url(../images/backstage5.png);
  }
  20% {
    background-image: url(../images/backstage6.png);
  }
  24% {
    background-image: url(../images/backstage7.png);
  }
  28% {
    background-image: url(../images/backstage8.png);
  }
  32% {
    background-image: url(../images/backstage9.png);
  }
  36% {
    background-image: url(../images/backstage10.png);
  }
  40% {
    background-image: url(../images/backstage11.png);
  }
  44% {
    background-image: url(../images/backstage12.png);
  }
  48% {
    background-image: url(../images/backstage13.png);
  }
  52% {
    background-image: url(../images/backstage14.png);
  }
  56% {
    background-image: url(../images/backstage15.png);
  }
  60% {
    background-image: url(../images/backstage16.png);
  }
  64% {
    background-image: url(../images/backstage17.png);
  }
  68% {
    background-image: url(../images/backstage18.png);
  }
  72% {
    background-image: url(../images/backstage19.png);
  }
  76% {
    background-image: url(../images/backstage20.png);
  }
  80% {
    background-image: url(../images/backstage21.png);
  }
  84% {
    background-image: url(../images/backstage22.png);
  }
  88% {
    background-image: url(../images/backstage23.png);
  }
  92% {
    background-image: url(../images/backstage24.png);
  }
  100% {
    background-image: url(../images/backstage25.png);
  }
}
/* 2 экран анимация звезд */
@keyframes star1rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.star1:hover,
.star2:hover {
  animation-play-state: paused;
}

@keyframes star2rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* 2 экран падение слов */

@keyframes choosefall {
  0% {
    top: 0;
    transform: rotate(10deg);
  }
  100% {
    top: 100vw;
    transform: rotate(40deg);
  }
}
@keyframes yourfall {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 100vw;
    transform: rotate(-60deg);
  }
}

@keyframes endfall {
  0% {
    top: 0;
    transform: rotate(-5deg);
  }
  100% {
    top: 100vw;
    transform: rotate(-40deg);
  }
}
@keyframes yourselffall {
  0% {
    top: 0;
    transform: rotate(20deg);
  }
  100% {
    top: 100vw;
    transform: rotate(60deg);
  }
}
@keyframes choosefall1 {
  0% {
    top: 0;
    transform: rotate(20deg);
  }
  100% {
    top: 100vw;
    transform: rotate(50deg);
  }
}
@keyframes yourfall1 {
  0% {
    top: 0;
    transform: rotate(10deg);
  }
  100% {
    top: 100vw;
    transform: rotate(-50deg);
  }
}

@keyframes endfall1 {
  0% {
    top: 0;
    transform: rotate(-20deg);
  }
  100% {
    top: 100vw;
    transform: rotate(-50deg);
  }
}
@keyframes yourselffall1 {
  0% {
    top: 0;
    transform: rotate(30deg);
  }
  100% {
    top: 100vw;
    transform: rotate(70deg);
  }
}

/* 3 экран анимация буковок */
@keyframes cursivechange1 {
  0% {
    font-style: normal;
  }
  50% {
    font-weight: bold;
  }
  100% {
    font-style: italic;
  }
}
@keyframes cursivechange2 {
  0% {
    font-weight: bold;
  }
  50% {
    font-style: normal;
  }
  100% {
    font-style: italic;
  }
}
@keyframes cursivechange3 {
  0% {
    font-style: oblique;
  }
  50% {
    font-style: normal;
  }
  100% {
    font-weight: bold;
  }
}
@keyframes cursivechange4 {
  0% {
    font-style: normal;
  }
  50% {
    font-style: italic;
  }
  100% {
    font-weight: bold;
  }
}
@keyframes cursivechange5 {
  0% {
    font-weight: bold;
  }
  50% {
    font-style: normal;
  }
  100% {
    font-style: italic;
  }
}
/* 3 экран анимация перекрытия букв */
.ahide:hover {
  background-image: url(../images/ahide.svg);
  width: 21vw;
  height: 20vw;
}
.ehide:hover {
  background-image: url(../images/ehide.svg);
  width: 21vw;
  height: 20vw;
}
.shide:hover {
  background-image: url(../images/shide.svg);
  width: 21vw;
  height: 20vw;
}
.lhide:hover {
  background-image: url(../images/lhide.svg);
  width: 21vw;
  height: 20vw;
}
.ihide:hover {
  background-image: url(../images/ihide.svg);
  width: 21vw;
  height: 20vw;
}

/* 4 экран слова тудасюда */
@keyframes wordsmove1 {
  0% {
    left: -8vw;
  }
  50% {
    left: 23vw;
  }
  100% {
    left: -8vw;
  }
}
@keyframes wordsmove2 {
  0% {
    right: -8vw;
  }
  50% {
    right: 23vw;
  }
  100% {
    right: -8vw;
  }
}
@keyframes wordsmove3 {
  0% {
    left: -8vw;
  }
  50% {
    left: 10vw;
  }
  100% {
    left: -8vw;
  }
}
@keyframes wordsmove4 {
  0% {
    right: -8vw;
  }
  50% {
    right: 10vw;
  }
  100% {
    right: -8vw;
  }
}
@keyframes wordsmove5 {
  0% {
    left: -20vw;
  }
  50% {
    left: 20vw;
  }
  100% {
    left: -20vw;
  }
}
@keyframes wordsmove6 {
  0% {
    right: -20vw;
  }
  50% {
    right: 20vw;
  }
  100% {
    right: -20vw;
  }
}

/* 5 экран полосочки перекрытие */

.polosochki1:hover {
  background-image: url(../images/overpolosochki1.svg);

  width: 33vw;
  height: 33vw;
}
.polosochki2:hover {
  background-image: url(../images/overpolosochki2.svg);
  width: 33vw;
  height: 33vw;
}
.polosochki3:hover {
  background-image: url(../images/overpolosochki3.svg);
  width: 33vw;
  height: 33vw;
}
/* треугольники ? экран */
@keyframes polygonanima {
  0% {
    background-image: url(../images/polygon1.png);
  }
  17% {
    background-image: url(../images/polygon1.5.png);
  }
  34% {
    background-image: url(../images/polygon2.png);
  }
  51% {
    background-image: url(../images/polygon2.5.png);
  }
  68% {
    background-image: url(../images/polygon3.png);
  }
  85% {
    background-image: url(../images/polygon3.5.png);
  }
  100% {
    background-image: url(../images/polygon4.png);
  }
}

@keyframes runningquestions1 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-31.75vw);
  }
}
@keyframes runningquestions2 {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(31vw);
  }
}

@keyframes greentabletext {
  0% {
    transform: translateY(0vw);
  }
  33% {
    transform: translateY(0vw);
  }
  66% {
    transform: translateY(9vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section1 > div:hover > p {
  animation-play-state: paused;
}
.section11 > div:hover > p {
  animation-play-state: paused;
}
