/* смена начертаний "А ЕСЛИ" 1 экран */
@keyframes boldchange {
  0% {
    font-style: normal;
    color: #1e4833;
  }

  50% {
    font-weight: bold;
    color: #740606;
  }

  100% {
    font-style: italic;
    color: white;
  }
}
/* бегущие строки 1 экран */
@keyframes howtochangepast {
  100% {
    transform: translate(-50%);
  }
}
@keyframes whatifidid {
  100% {
    transform: translate(-50%);
  }
}

@keyframes iwanttochange {
  100% {
    transform: translate(-50%);
  }
}

/* смена цвета колонн по наведению 1 экран */
.whcolumn1:hover {
  background-image: url(../images/redcolumn1.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 10vw;
}

.whcolumn2:hover {
  background-image: url(../images/greencolumn1.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 24vw;
}

.whcolumn3:hover {
  background-image: url(../images/redcolumn2.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 38vw;
}

.whcolumn4:hover {
  background-image: url(../images/greencolumn2.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 52vw;
}
.whcolumn5:hover {
  background-image: url(../images/redcolumn3.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 66vw;
}
.whcolumn6:hover {
  background-image: url(../images/greencolumn3.svg);
  height: 30vw;
  width: 10vw;
  position: absolute;
  margin-top: 3vw;
  margin-left: 80vw;
}

/* треугольники ? экран */
@keyframes polygonanima {
  0% {
    background-image: url(../images/polygon1.png);
  }
  17% {
    background-image: url(../images/polygon1.5.png);
  }
  34% {
    background-image: url(../images/polygon2.png);
  }
  51% {
    background-image: url(../images/polygon2.5.png);
  }
  68% {
    background-image: url(../images/polygon3.png);
  }
  85% {
    background-image: url(../images/polygon3.5.png);
  }
  100% {
    background-image: url(../images/polygon4.png);
  }
}
