/* общие настройки */
html {
  background-color: black;
}
body {
  margin: 0 auto;
  position: relative;
  width: 100vw;
}
section {
  margin-top: 0;
  position: relative;
  height: 900px;
  width: 100vw;
  overflow: hidden;
}
body {
  background-color: black;
  font-family: 'Helvetica';
}

/* 1 экран стили всех текстовых элементов*/
.theatretext4 {
  position: absolute;
  font-size: 3vw;
  margin-top: 15vw;
  margin-left: 44vw;
  color: #1e4833;
  animation: boldchange 2s infinite linear;
}
.theatretext1 {
  transform: rotate(-26deg);
  margin-left: -5vw;
  font-size: 3vw;
}

.theatretext1 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: howtochangepast 2s linear infinite;
}
.theatretext2 {
  transform: rotate(26deg);
  margin-left: 15vw;
  font-size: 3vw;
}
.theatretext2 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: whatifidid 2s linear infinite;
}
.theatretext3 {
  font-size: 3vw;
  margin-top: 20vw;
}
.theatretext3 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: iwanttochange 2s linear infinite;
}

/* 1 экран стили колонн театра */
.whcolumn1 {
  background-image: url(../images/whcolumn1.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 10vw;
  position: absolute;
}
.whcolumn2 {
  background-image: url(../images/whcolumn2.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 24vw;
  position: absolute;
}
.whcolumn3 {
  background-image: url(../images/whcolumn3.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 38vw;
  position: absolute;
}
.whcolumn4 {
  background-image: url(../images/whcolumn4.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 52vw;
  position: absolute;
}
.whcolumn5 {
  background-image: url(../images/whcolumn5.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 66vw;
  position: absolute;
}
.whcolumn6 {
  background-image: url(../images/whcolumn6.svg);
  height: 30vw;
  width: 10vw;
  margin-top: 3vw;
  margin-left: 80vw;
  position: absolute;
}

/* 2 экран покадровая анимация кулис  */
.backstage {
  margin-top: 0;
  background-image: url(../images/backstage1.png);
  width: 50vw;
  height: 72vw;
}

/* стили треугольничков на ? экране */
.polygon {
  height: 50vw;
  width: 27vw;
  top: 0;
  animation: polygonanima 1s steps(1) infinite;
}
