/* общие настройки */
html {
  background-color: black;
}
body {
  margin: 0 auto;
  position: relative;
}
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
body {
  background-color: black;
  font-family: 'Helvetica';
}
/* все экраны резиновые картинки */
.section2 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section3 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section4 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section8 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section9 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section12 div {
  background-repeat: no-repeat;
  background-size: cover;
}
.section13 div {
  background-repeat: no-repeat;
  background-size: cover;
}
/* 1 экран стили всех текстовых элементов*/
.theatretext4 {
  position: absolute;
  font-size: 5vw;
  margin-top: 14vw;
  margin-left: 40vw;
  color: #1e4833;
  animation: boldchange 1s infinite linear;
}
.theatretext1 {
  transform: rotate(-26deg);
  margin-left: -5vw;
  font-size: 3vw;
}
.theatretext1 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: howtochangepast 2s linear infinite;
}
.theatretext2 {
  transform: rotate(26deg);
  margin-left: 15vw;
  font-size: 3vw;
}
.theatretext2 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: whatifidid 2s linear infinite;
}
.theatretext3 {
  font-size: 3vw;
  margin-top: 20vw;
}
.theatretext3 > p {
  color: white;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  animation: iwanttochange 2s linear infinite;
}

/* 1 экран общие настройки */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* 1 экран стили колонн театра */
.whcolumn1 {
  background-image: url(../images/redcolumn-1.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn2 {
  background-image: url(../images/whcolumn2.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn3 {
  background-image: url(../images/whcolumn3.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn4 {
  background-image: url(../images/whcolumn4.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn5 {
  background-image: url(../images/whcolumn5.svg);
  height: 30vw;
  width: 10vw;
}
.whcolumn6 {
  background-image: url(../images/greencolumn3.svg);
  height: 30vw;
  width: 10vw;
}
/* 2 экран общие настройки */
.section3 {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}
/* 2 экран покадровая анимация кулис  */
.backstage {
  background-image: url(../images/backstage1.png);
  width: 50vw;
  height: 47vw;
  animation: backstagemove 2s steps(1) infinite;
}
/* 2 экран анимация звезд */
.starsback {
  background-color: #1e4833;
  width: 25vw;
  height: 47vw;
}
.star1 {
  background-image: url(../images/star1.svg);
  height: 17vw;
  width: 17vw;
  animation: star1rotate 2s linear infinite;
  position: absolute;
  margin-top: 4vw;
  margin-left: 4vw;
}
.star2 {
  background-image: url(../images/star2.svg);
  height: 17vw;
  width: 17vw;
  animation: star2rotate 2s linear infinite;
  position: absolute;
  margin-top: 25vw;
  margin-left: 4vw;
}
/* 2 экран падение слов */
/* поинтереснее падение визуально */
.wordsback {
  background-color: white;
  width: 25vw;
  height: 47vw;
}
.choose {
  font-size: 3vw;
  position: absolute;
  margin-left: 2vw;
  animation: choosefall 3s linear infinite;
  color: #1e4833;
  font-weight: bold;
}
.your {
  font-size: 3vw;
  position: absolute;
  margin-left: 10vw;
  margin-top: -3vw;
  animation: yourfall 3s linear infinite;
  animation-delay: 0.2s;
  color: black;
  font-weight: bold;
}
.end {
  font-size: 3vw;
  position: absolute;
  margin-left: 4vw;
  margin-top: -3vw;
  animation: endfall 3s linear infinite;
  animation-delay: 0.4s;
  color: #740606;
  font-weight: bold;
}
.yourself {
  font-size: 3vw;
  position: absolute;
  margin-left: 12vw;
  margin-top: -3vw;
  animation: yourselffall 3s linear infinite;
  animation-delay: 0.6s;
  font-weight: bold;
}
.choose1 {
  font-size: 3vw;
  position: absolute;
  margin-left: 6vw;
  margin-top: -3vw;
  animation: choosefall1 3s linear infinite;
  color: black;
  font-weight: bold;
  animation-delay: 0.8s;
}
.your1 {
  font-size: 3vw;
  position: absolute;
  margin-left: 10vw;
  margin-top: -3vw;
  animation: yourfall1 3s linear infinite;
  animation-delay: 1s;
  color: #740606;
  font-weight: bold;
}
.end1 {
  font-size: 3vw;
  position: absolute;
  margin-left: 1vw;
  margin-top: -3vw;
  animation: endfall1 3s linear infinite;
  animation-delay: 1.2s;
  color: #1e4833;
  font-weight: bold;
}
.yourself1 {
  font-size: 3vw;
  position: absolute;
  margin-left: 13vw;
  margin-top: -3vw;
  animation: yourselffall1 3s linear infinite;
  animation-delay: 1.4s;
  font-weight: bold;
}
.choose2 {
  font-size: 3vw;
  position: absolute;
  margin-left: 3vw;
  margin-top: -3vw;
  animation: choosefall1 3s linear infinite;
  color: #740606;
  font-weight: bold;
  animation-delay: 1.6s;
}
.your2 {
  font-size: 3vw;
  position: absolute;
  margin-left: 10vw;
  margin-top: -3vw;
  animation: yourfall1 3s linear infinite;
  animation-delay: 1.8s;
  color: #1e4833;
  font-weight: bold;
}
.end2 {
  font-size: 3vw;
  position: absolute;
  margin-left: 4vw;
  margin-top: -3vw;
  animation: endfall1 3s linear infinite;
  animation-delay: 2s;
  color: black;
  font-weight: bold;
}

.yourself2 {
  font-size: 3vw;
  position: absolute;
  margin-left: 8vw;
  margin-top: -3vw;
  animation: yourselffall1 3s linear infinite;
  animation-delay: 2.2s;
  font-weight: bold;
}
.choose3 {
  font-size: 3vw;
  position: absolute;
  margin-left: 4vw;
  margin-top: -3vw;
  animation: choosefall1 3s linear infinite;
  color: #740606;
  font-weight: bold;
  animation-delay: 2.35s;
}
.your3 {
  font-size: 3vw;
  position: absolute;
  margin-left: 12vw;
  margin-top: -3vw;
  animation: yourfall1 3s linear infinite;
  animation-delay: 2.55s;
  color: #1e4833;
  font-weight: bold;
}
.end3 {
  font-size: 3vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: -3vw;
  animation: endfall1 3s linear infinite;
  animation-delay: 2.7s;
  color: black;
  font-weight: bold;
}

.yourself3 {
  font-size: 3vw;
  position: absolute;
  margin-left: 7vw;
  margin-top: -3vw;
  animation: yourselffall1 3s linear infinite;
  animation-delay: 2.85;
  font-weight: bold;
}

.choose:hover {
  animation-play-state: paused;
}
.your:hover {
  animation-play-state: paused;
}
.end:hover {
  animation-play-state: paused;
}
.yourself:hover {
  animation-play-state: paused;
}
.choose1:hover {
  animation-play-state: paused;
}
.your1:hover {
  animation-play-state: paused;
}
.end1:hover {
  animation-play-state: paused;
}
.yourself1:hover {
  animation-play-state: paused;
}
.choose2:hover {
  animation-play-state: paused;
}
.your2:hover {
  animation-play-state: paused;
}
.end2:hover {
  animation-play-state: paused;
}
.yourself2:hover {
  animation-play-state: paused;
}

/* 3 экран 4 (1) секция общие настройки */
.section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* 3 экран расположение буковок */
.ahide {
  width: 20vw;
  height: 100%;
}
.ahide > p {
  font-size: 20vw;
  color: white;
  text-align: center;
  animation: cursivechange1 1s infinite linear;
}
.ehide {
  width: 20vw;
  height: 100%;
}
.ehide > p {
  font-size: 20vw;
  color: white;
  text-align: center;
  animation: cursivechange2 1s infinite linear;
}
.shide {
  width: 20vw;
  height: 100%;
}
.shide > p {
  font-size: 20vw;
  color: white;
  text-align: center;
  animation: cursivechange3 1s infinite linear;
}
.lhide {
  width: 20vw;
  height: 100%;
}
.lhide > p {
  font-size: 20vw;
  color: white;
  text-align: center;
  animation: cursivechange4 1s infinite linear;
}
.ihide {
  width: 20vw;
  height: 100%;
}
.ihide > p {
  font-size: 20vw;
  color: white;
  text-align: center;
  animation: cursivechange5 1s infinite linear;
}
/* 4 экран 5 (1) секция общие настройки  */
.section5 {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* 4 экран 1 секция слова */
.past {
  position: relative;
  font-size: 3vw;
  color: white;
  animation: wordsmove1 1s infinite ease;
}
.future {
  position: relative;
  margin-left: 40vw;
  font-size: 3vw;
  color: white;
  animation: wordsmove2 1s infinite ease;
}

/* 4 экран 6 (2) и 7 (3) секция общие настройки  */
.section6,
.section7 {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* 4 экран 2 и 3 секция слова */
.choice {
  position: relative;
  margin-top: 8vw;
  font-size: 3vw;
  color: #740606;
  animation: wordsmove3 0.5s infinite ease;
}
.changes {
  position: relative;
  margin-top: 8vw;
  margin-left: 40vw;
  font-size: 3vw;
  color: #740606;
  animation: wordsmove4 0.5s infinite ease;
}
.alternative {
  position: relative;
  margin-top: 8vw;
  font-size: 3vw;
  color: #1e4833;
  animation: wordsmove5 2s infinite ease;
}
.stable {
  position: relative;
  margin-top: 8vw;
  margin-left: 40vw;
  font-size: 3vw;
  color: #1e4833;
  animation: wordsmove6 2s infinite ease;
}

/* 5 экран 8(1) секция общие настройки */
.section8 {
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* 5 экран полосочки */
.polosochki1 {
  position: relative;
  background-image: url(../images/polosochki1.svg);
  width: 33vw;
  height: 33vw;
}
.polosochki2 {
  position: relative;
  background-image: url(../images/polosochki2.svg);
  width: 33vw;
  height: 33vw;
}
.polosochki3 {
  position: relative;
  background-image: url(../images/polosochki3.svg);
  width: 33vw;
  height: 33vw;
}
/* 6 экран общие настройки(?) */
.section9 {
  display: flex;
  align-items: flex-start;
}
/* 6 экран стили треугольничков  */
.polygon {
  position: relative;
  margin-top: 5vw;
  margin-left: 3vw;
  height: 56.2vw;
  width: 38.7vw;
  top: 0;
  animation: polygonanima 1s steps(1) infinite;
  margin-bottom: 5vw;
}
/* 6 экран бегущие строки */
/* не получилось сделать остановку по ховеру */
.runquestionsf {
  display: flex;
  flex-direction: row;
  background-color: #740606;
  position: relative;
  margin-left: 3vw;
  width: 73vw;
  height: 16vw;
  overflow: hidden;
}
.runquestionsf > p {
  margin-top: 3vw;
  margin-left: 8vw;
  font-size: 3vw;
  color: white;
  animation: runningquestions1 1.5s infinite linear;
}
.runquestionst {
  display: flex;
  flex-direction: row-reverse;
  background-color: #740606;
  position: relative;
  margin-left: 3vw;
  width: 73vw;
  height: 16vw;
  overflow: hidden;
}
.runquestionst > p {
  margin-top: 2vw;
  margin-left: 10vw;
  font-size: 3vw;
  color: white;
  animation: runningquestions2 1.5s infinite linear;
}

/* 6 экран общие настройки зеленый текст+непонятные штук */
.section11 {
  display: flex;
  flex-direction: row;
}
/* 6 экран текст на зеленом фоне */
/* выделить курсивом и жирным */
.greentable {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  background-color: #1e4833;
  height: 29.5vw;
  width: 20vw;
}
.greentable > p {
  font-size: 3vw;
  color: white;
  animation: greentabletext 0.5s infinite linear;
}
.pgreentable {
  font-weight: bold;
  font-style: italic;
}

/* 6 экран непонятные крутящиеся штучки ч1 */
.section12 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.weirdthings1 {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 15vw;
  width: 53vw;
}
.weirdthings2 {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 14.5vw;
  width: 53vw;
}
.weirdo1 {
  margin-top: 0.5vw;
  background-image: url(../images/weirdo1.svg);
  margin-left: -1vw;
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
.weirdo2 {
  margin-top: 0.5vw;
  margin-left: -0vw;
  background-image: url(../images/weirdo2.svg);
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
.weirdo3 {
  margin-top: 0.5vw;
  margin-left: -3vw;
  background-image: url(../images/weirdo3.svg);
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
.weirdo4 {
  background-image: url(../images/weirdo4.svg);
  margin-left: -1vw;
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
.weirdo5 {
  margin-left: -0vw;
  background-image: url(../images/weirdo5.svg);
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
.weirdo6 {
  margin-left: -3vw;
  background-image: url(../images/weirdo6.svg);
  width: 18vw;
  height: 15vw;
  animation: rot 2s infinite linear;
}
/* подвал */
.section13 {
  display: flex;
  flex-direction: row;
}
.down1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 66vw;
  height: 10vw;
  background-color: #740606;
}
.down1 > p {
  margin-left: 10vw;
  font-size: 3vw;
  color: white;
}
.down1 > p:hover {
  color: black;
}
.down2 {
  margin-top: -0.5vw;
  margin-left: 3vw;
  background-image: url(../images/logo.png);
  height: 10vw;
  width: 25vw;
}
